<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Best News</title>
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- linking my stylesheet  -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- top nav bar -->
<nav class="blue darken-4">
    <div class="nav-wrapper container">
    </div>
</nav>
<!-- this is a container that house  -->
<div class="container">
    <!-- h1 with the title -->
    <h2>St Lucia Breaking News?</h1>
    <!-- h2 with the title -->
    <h2>For The People By The People!</h2>
    <!-- getting the body from handlebars  -->
    {{{body}}}
</div>
<!-- footer coming soon near you.-->

<!-- this is Jquery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- This is my source to my app.js -->
<script src="app.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>
